.login-page{
    margin-top: 10ch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-title {
    display: flex;
    font-weight: bold;
}

.login-title span{
    color: darkred;
}