.register-page{
    margin-top: 10ch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-title {
    display: flex;
}

.register-title span{
    color: darkred;
}


